#main {
	width: 80%;
	margin: 0 auto;
	/*background: #999;*/
	
}
#container {
	/*padding: 15px;*/
}
.showUserDetail {
	float: right;
}
.well{
	background-color: #fff;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.table {
	background-color: #fff;
}
.modal-body {
	max-height: 490px;
	overflow-y: scroll;
}